body{
font-family:Arial;
text-align:center;
}

.container{
display:flex;
justify-content:center;
gap:60px;
margin-top:40px;
}

.colonne{
display:flex;
flex-direction:column;
gap:6px;
}

.km{
background:#1f8f2e;
color:white;
border:none;
padding:8px;
border-radius:5px;
font-size:16px;
cursor:pointer;
width:80px;
}

.km:hover{
background:#146620;
}