body{
font-family:Arial;
text-align:center;
}

.container{
display:flex;
justify-content:center;
gap:80px;
margin-top:40px;
}

table{
border-collapse:collapse;
width:200px;
}

th{
background:#e0e0e0;
padding:10px;
font-size:22px;
}

td{
border:1px solid #ccc;
padding:8px;
}
